@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:200&display=swap');

html,
body {
  height: 100%;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

.header {
  background-color: purple;
}

.header-title {
  color: white;
}